/* Akzidenz Grotesk Medium */
@font-face {
  font-family: "Akzidenz Grotesk";
  src: url("../fonts/akzidenzgrotesk-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}