@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

.page {
  height: 100%;
}

.page__body {
  font-size: 16px;
  margin: 0;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  min-height: 100%;
  min-width: 290px;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

strong {
  font-weight: 500;
}

section {
  padding: 52px 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-dark);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-family: var(--font-family-accent);
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 16px;
  color: #fff;
}

h2,
.h2 {
  font-family: var(--font-family-accent);
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 16px;
}

h3,
.h3 {
  font-size: 28px;
  line-height: 34px;
}

h4,
.h4 {
  font-size: 18px;
  line-height: 26px;
}

.desc {
  font-size: 16px;
  line-height: 22px;
}

.desc p {
  margin-bottom: 16px;
}

.site-container {
  width: 100%;
}

a,
button,
label,
input,
textarea,
select,
svg,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  @include hover {
    color: var(--color-green);
  }
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.align-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
} 

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}


.title-2-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;

  h1,h2,h3 {
    margin: 0;
  }

  @include mobile-s {
    h1,h2,h3 {
      margin: 0 0 20px;
    }
    flex-direction: column;
  }
}

.hide-laptop { 
  @include laptop {
    display: none !important;
  }
}

.show-laptop { 
  display: none !important;
  @include laptop {
    display: block !important;
  }
}