<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  
  <title>website-title</title>
  
  <meta name="description" content="website-description" />
  
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="website-title" />
  <meta property="og:url" content="https://www.vlasinfo.com/" />
  <meta property="og:title" content="website-title" />
  <meta property="og:description" content="website-description" />
  <meta property="og:image" content="assets/img/ogimage.webp" />
  
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://www.vlasinfo.com/" />
  <meta property="twitter:title" content="website-title" />
  <meta property="twitter:description" content="website-description" />
  <meta property="twitter:image" content="" />
  
    <meta name="robots" content="all" />
  
  <meta name="author" content="Vlasinfo" />
  <link rel="canonical" href="https://www.vlasinfo.com/" />
  
    <link rel="preload" href="/assets/fonts/akzidenzgrotesk-medium.woff2" as="font" type="font/woff2" crossorigin>
  
  <link rel="stylesheet" href="assets/css/vendor.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
